:root{
  --background-color: #2c3531;
  --green-color: #116466;
  --brown-color: #d9b08c;
  --brown-color-light: #ffcb9a;
  --blue-color: #D1e8e2; 
}

body {
  text-align: center;
  background-color: var(--background-color);
}