@font-face {
  font-family: 'Lora';
  src: url("./static/fonts/Lora-VariableFont_wght.ttf");
}

:root{
  --background-color: #2c3531;
  --green-color: #116466;
  --greener-green: #46a58a;
  --brown-color: #d9b08c;
  --browner-color: #a88566;
  --brown-color-light: #ffcb9a;
  --blue-color: #D1e8e2; 
}

body {
  text-align: center;
  background-color: var(--background-color);
  font-family: 'Lora' ,'Times New Roman', Times, serif;
  color: var(--blue-color);
}

/* Banner Styling */

.Banner {
  height: 100vh;
  width: 100%;
  background-image: url("./static/img/banner.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-blend-mode: hue;
  justify-content: center;
  display: flex;
  align-items: center;
}

.Banner-text {
  background-color: rgba(44, 53, 49, 0.7);
  width: 60%;
  height: 40%;
  border-radius: 2rem;
  color: var(--blue-color);
  justify-content: center;
  display: flex;
  align-items: center;
}

.Banner-text h1 {
  font-size: 4rem;
}

/* End Banner Styling */

/* Interactive App Styling */

.UserApp {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* Map Container */
.MapContainer {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
}

#deckgl-wrapper {
  position: relative;
}

.react-select__menu-list{
  background: #116466;
}


/*Interactive App Styling End */

